# Zabbix Agent Configuration
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{ zabbix_agent_server }}
ServerActive={{ zabbix_agent_server }}
Hostname={{ zabbix_agent_hostname }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf
